$bg-color: #ececec;

:host {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  min-height: 100%;
  max-height: 100%;

  .mpa-navigator {
    position: sticky;
    left: 0;
    bottom: 0;
  }

  &.mobile-layout {
    flex-direction: column;
  }
}

.mpa-header {
  flex: 0 0 40px;
  background: $bg-color;
}

.content-outlet {
  flex: 1;
  min-height: 0;
  overflow: scroll;
  background: #efece9;
}

.mpa-footer {
  flex: 0 0 40px;
  background: $bg-color;
}
